# Vamos ver como simular uma carteira aleatória de ações a partir de uma base de dados com tickers da b3:

In [1]:
#Bibliotecas Necessárias:
import pandas as pd
import numpy as np
import random
import yfinance as yf
import plotly.express as px

### Lendo os dados da planilha:

In [3]:
base_de_dados = pd.read_excel('indice_Amplo_Ibov.xlsx', sheet_name=0)
base_de_dados

,Ticker,Ação,Tipo,Qtde. Teórica,Part. (%),Setor,Sub_Setor
0,RRRP3,3R PETROLEUM,ON NM,129507288,0.185,Energy,Oil & Gas E&P
1,ABCB4,ABC BRASIL,PN N2,70580422,0.037,Financial Services,Banks—Regional
2,AERI3,AERIS,ON NM,218058827,0.068,Industrials,Specialty Industrial Machinery
3,AESB3,AES BRASIL,ON NM,149647285,0.078,Utilities,Utilities—Renewable
4,ALSO3,ALIANSCSONAE,ON ED NM,127376805,0.126,Real Estate,Real Estate Services
...,...,...,...,...,...,...,...
175,VIVA3,VIVARA S.A.,ON ED NM,93368726,0.087,Consumer Cyclical,Luxury Goods
176,VULC3,VULCABRAS,ON NM,74685291,0.022,Consumer Cyclical,Footwear & Accessories
177,WEGE3,WEG,ON NM,1482296002,1.753,Industrials,Specialty Industrial Machinery
178,WIZS3,WIZ S.A.,ON NM,77719799,0.031,Financial Services,Insurance Brokers
179,YDUQ3,YDUQS PART,ON ED NM,300483575,0.304,Consumer Defensive,Education & Training Services

### Vamos selecionar a coluna dos tickers:

In [13]:
acoes = base_de_dados.filter(items=['Ticker'])
acoes = acoes + '.SA'
acoes

       Ticker
0    RRRP3.SA
1    ABCB4.SA
2    AERI3.SA
3    AESB3.SA
4    ALSO3.SA
..        ...
175  VIVA3.SA
176  VULC3.SA
177  WEGE3.SA
178  WIZS3.SA
179  YDUQ3.SA

[180 rows x 1 columns]

### vamos pegar o preço de fechamento dessas ações da coluna anterior:

In [24]:
#o yfinance apenas aceita strings ou listas nesse comando, então vamos converter o dataframe em uma lista:
lista_acoes = acoes['Ticker'].tolist()
dados_yahoo = yf.download(tickers=lista_acoes, period='1y')['Adj Close'] # -->aqui estamos pegando os dados de preço de fechamento ajustado do ultimo ano de todas as ações da lista anterior
print(dados_yahoo)

[*********************100%***********************]  180 of 180 completed
            AALR3.SA   ABCB4.SA   ABEV3.SA  AERI3.SA  AESB3.SA   AGRO3.SA  \
Date
2020-05-11      8.66  11.491520  11.577252       NaN       NaN  20.041254
2020-05-12      8.40  11.255069  11.363937       NaN       NaN  19.789528
2020-05-13      8.39  11.349649  10.917912       NaN       NaN  19.460348
2020-05-14      8.44  11.141572  11.383329       NaN       NaN  19.392576
2020-05-15      8.70  11.056450  11.286368       NaN       NaN  19.808889
...              ...        ...        ...       ...       ...        ...
2021-05-04      9.04  14.780000  14.640000      8.60     14.41  34.250000
2021-05-05      9.13  14.800000  14.860000      8.30     14.61  36.130001
2021-05-06      8.91  14.830000  16.180000      8.60     14.70  35.169998
2021-05-07      8.93  14.800000  16.209999      8.79     14.65  34.900002
2021-05-10      8.95  14.890000  16.620001      8.52     14.37  34.180000

             ALPA4.SA   ALSO3.SA  ALUP11.SA  AMAR3.SA  ...   USIM5.SA  \
Date                                                   ...
2020-05-11  24.760000  21.765604  21.401581      5.36  ...   4.732604
2020-05-12  26.010000  21.716022  21.343477      4.94  ...   4.563582
2020-05-13  24.070000  21.825098  21.653364      4.58  ...   4.324964
2020-05-14  23.590000  22.191990  21.798624      4.88  ...   4.523813
2020-05-15  22.150000  21.101233  22.031038      4.79  ...   4.484043
...               ...        ...        ...       ...  ...        ...
2021-05-04  45.189999  26.290001  26.670000      5.34  ...  21.920000
2021-05-05  47.270000  26.660000  26.990000      5.70  ...  22.900000
2021-05-06  46.619999  27.110001  26.910000      5.68  ...  23.570000
2021-05-07  46.939999  28.020000  27.040001      6.06  ...  23.139999
2021-05-10  45.619999  28.299999  26.650000      6.03  ...  23.620001

              VALE3.SA   VIVA3.SA   VIVT3.SA   VLID3.SA  VULC3.SA  VVAR3.SA  \
Date
2020-05-11   43.839848  16.304344  43.058098   7.759958      3.85      8.88
2020-05-12   43.591850  15.409594  42.466137   7.750085      3.68      8.55
2020-05-13   44.583828  15.081519  42.985241   7.305813      3.74      9.14
2020-05-14   44.170502  15.459302  43.240238   7.325558      3.90      9.02
2020-05-15   44.133762  14.922451  41.983463   7.207086      3.69      8.68
...                ...        ...        ...        ...       ...       ...
2021-05-04  110.099998  25.760000  42.759998   9.580000      7.69     11.94
2021-05-05  110.709999  25.100000  43.000000   9.930000      7.81     12.10
2021-05-06  115.050003  25.440001  43.320000   9.630000      8.02     11.96
2021-05-07  115.250000  26.270000  43.529999   9.900000      8.38     12.16
2021-05-10  116.290001  26.250000  43.889999  10.150000      8.24     11.95

             WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
2020-05-11  19.247561   6.848436  25.404554
2020-05-12  18.588291   6.578593  24.262777
2020-05-13  18.836136   6.597203  23.406445
2020-05-14  18.513939   6.755387  23.741104
2020-05-15  18.047993   6.643727  23.435972
...               ...        ...        ...
2021-05-04  33.700001  11.500000  28.770000
2021-05-05  34.709999  11.290000  29.070000
2021-05-06  33.730000  11.270000  28.389999
2021-05-07  33.419998  11.430000  28.610001
2021-05-10  32.380001  10.920000  28.520000

[247 rows x 180 columns]

### agora vamos tratar os dados da coluna da seguinte forma:
#### 1) vamos retirar os dados sem resultados ou em branco:
#### 2) vamos criar uma tabela de retorno que tenha a variação em % de todas as ações
#### 3) selecionar as ações aleatórias:

In [26]:
# fazendo a 1) parte:
dados_yahoo.dropna(how='all', inplace=True)
dados_yahoo.dropna(axis=1, inplace=True, thresh=246)
print(dados_yahoo)

            AALR3.SA   ABCB4.SA   ABEV3.SA   AGRO3.SA   ALPA4.SA   ALSO3.SA  \
Date
2020-05-11      8.66  11.491520  11.577252  20.041254  24.760000  21.765604
2020-05-12      8.40  11.255069  11.363937  19.789528  26.010000  21.716022
2020-05-13      8.39  11.349649  10.917912  19.460348  24.070000  21.825098
2020-05-14      8.44  11.141572  11.383329  19.392576  23.590000  22.191990
2020-05-15      8.70  11.056450  11.286368  19.808889  22.150000  21.101233
...              ...        ...        ...        ...        ...        ...
2021-05-04      9.04  14.780000  14.640000  34.250000  45.189999  26.290001
2021-05-05      9.13  14.800000  14.860000  36.130001  47.270000  26.660000
2021-05-06      8.91  14.830000  16.180000  35.169998  46.619999  27.110001
2021-05-07      8.93  14.800000  16.209999  34.900002  46.939999  28.020000
2021-05-10      8.95  14.890000  16.620001  34.180000  45.619999  28.299999

            ALUP11.SA  AMAR3.SA   ANIM3.SA   ARZZ3.SA  ...   USIM5.SA  \
Date                                                   ...
2020-05-11  21.401581      5.36   6.413333  41.924397  ...   4.732604
2020-05-12  21.343477      4.94   6.116666  40.090824  ...   4.563582
2020-05-13  21.653364      4.58   5.950000  39.040234  ...   4.324964
2020-05-14  21.798624      4.88   6.100000  37.989651  ...   4.523813
2020-05-15  22.031038      4.79   6.300000  38.405914  ...   4.484043
...               ...       ...        ...        ...  ...        ...
2021-05-04  26.670000      5.34  10.900000  76.000000  ...  21.920000
2021-05-05  26.990000      5.70  11.300000  79.449997  ...  22.900000
2021-05-06  26.910000      5.68  11.280000  80.000000  ...  23.570000
2021-05-07  27.040001      6.06  11.710000  81.089996  ...  23.139999
2021-05-10  26.650000      6.03  11.420000  81.570000  ...  23.620001

              VALE3.SA   VIVA3.SA   VIVT3.SA   VLID3.SA  VULC3.SA  VVAR3.SA  \
Date
2020-05-11   43.839848  16.304344  43.058098   7.759958      3.85      8.88
2020-05-12   43.591850  15.409594  42.466137   7.750085      3.68      8.55
2020-05-13   44.583828  15.081519  42.985241   7.305813      3.74      9.14
2020-05-14   44.170502  15.459302  43.240238   7.325558      3.90      9.02
2020-05-15   44.133762  14.922451  41.983463   7.207086      3.69      8.68
...                ...        ...        ...        ...       ...       ...
2021-05-04  110.099998  25.760000  42.759998   9.580000      7.69     11.94
2021-05-05  110.709999  25.100000  43.000000   9.930000      7.81     12.10
2021-05-06  115.050003  25.440001  43.320000   9.630000      8.02     11.96
2021-05-07  115.250000  26.270000  43.529999   9.900000      8.38     12.16
2021-05-10  116.290001  26.250000  43.889999  10.150000      8.24     11.95

             WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
2020-05-11  19.247561   6.848436  25.404554
2020-05-12  18.588291   6.578593  24.262777
2020-05-13  18.836136   6.597203  23.406445
2020-05-14  18.513939   6.755387  23.741104
2020-05-15  18.047993   6.643727  23.435972
...               ...        ...        ...
2021-05-04  33.700001  11.500000  28.770000
2021-05-05  34.709999  11.290000  29.070000
2021-05-06  33.730000  11.270000  28.389999
2021-05-07  33.419998  11.430000  28.610001
2021-05-10  32.380001  10.920000  28.520000

[246 rows x 162 columns]

In [35]:
# fazendo a parte 2:
retorno = dados_yahoo.pct_change()
retorno_acumulado = (1 + retorno).cumprod()
retorno_acumulado.iloc[0] = 1
retorno_acumulado

,AALR3.SA,ABCB4.SA,ABEV3.SA,AGRO3.SA,ALPA4.SA,ALSO3.SA,ALUP11.SA,AMAR3.SA,ANIM3.SA,ARZZ3.SA,...,USIM5.SA,VALE3.SA,VIVA3.SA,VIVT3.SA,VLID3.SA,VULC3.SA,VVAR3.SA,WEGE3.SA,WIZS3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-05-12,0.969977,0.979424,0.981575,0.987440,1.050485,0.997722,0.997285,0.921642,0.953742,0.956265,...,0.964286,0.994343,0.945122,0.986252,0.998728,0.955844,0.962838,0.965748,0.960598,0.955056
2020-05-13,0.968822,0.987654,0.943049,0.971014,0.972132,1.002733,1.011765,0.854478,0.927755,0.931206,...,0.913866,1.016970,0.925000,0.998308,0.941476,0.971429,1.029279,0.978625,0.963315,0.921348
2020-05-14,0.974596,0.969547,0.983250,0.967633,0.952746,1.019590,1.018552,0.910448,0.951143,0.906147,...,0.955882,1.007542,0.948171,1.004230,0.944020,1.012987,1.015766,0.961885,0.986413,0.934522
2020-05-15,1.004619,0.962140,0.974875,0.988406,0.894588,0.969476,1.029412,0.893657,0.982329,0.916076,...,0.947479,1.006704,0.915244,0.975042,0.928753,0.958442,0.977477,0.937677,0.970109,0.922511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-04,1.043880,1.286166,1.264549,1.708975,1.825121,1.207869,1.246170,0.996269,1.699584,1.812787,...,4.631700,2.511414,1.579947,0.993077,1.234543,1.997403,1.344595,1.750871,1.679215,1.132474
2021-05-05,1.054273,1.287906,1.283551,1.802781,1.909128,1.224868,1.261122,1.063433,1.761954,1.895078,...,4.838774,2.525328,1.539467,0.998651,1.279646,2.028571,1.362613,1.803345,1.648551,1.144283
2021-05-06,1.028868,1.290517,1.397568,1.754880,1.882876,1.245543,1.257384,1.059701,1.758836,1.908197,...,4.980345,2.624325,1.560320,1.006083,1.240986,2.083117,1.346847,1.752430,1.645631,1.117516
2021-05-07,1.031178,1.287906,1.400159,1.741408,1.895800,1.287352,1.263458,1.130597,1.825884,1.934196,...,4.889486,2.628887,1.611227,1.010960,1.275780,2.176623,1.369369,1.736324,1.668994,1.126176
2021-05-10,1.033487,1.295738,1.435574,1.705482,1.842488,1.300217,1.245235,1.125000,1.780665,1.945645,...,4.990910,2.652610,1.610000,1.019320,1.307997,2.140260,1.345721,1.682291,1.594525,1.122633

In [36]:
# fazendo a parte 3:
numero_de_acoes = 10
carteira = random.choices(dados_yahoo.columns, k=numero_de_acoes)
carteira

['BTOW3.SA',
 'AMAR3.SA',
 'LREN3.SA',
 'FLRY3.SA',
 'BRPR3.SA',
 'MTRE3.SA',
 'VLID3.SA',
 'BTOW3.SA',
 'ITSA4.SA',
 'ITUB3.SA']

### Montando várias carteiras aleatórias:

In [39]:
for x in np.arange(5):
    numero_de_acoes = 10
    carteira = random.choices(dados_yahoo.columns, k=numero_de_acoes)
    print(carteira)

['GRND3.SA', 'MGLU3.SA', 'TCSA3.SA', 'ITUB4.SA', 'JHSF3.SA', 'ARZZ3.SA', 'CPLE6.SA', 'ABCB4.SA', 'POSI3.SA', 'BRDT3.SA']
['SAPR4.SA', 'TOTS3.SA', 'BPAC11.SA', 'SEER3.SA', 'NTCO3.SA', 'GOAU4.SA', 'VLID3.SA', 'RAIL3.SA', 'UNIP6.SA', 'VULC3.SA']
['BRKM5.SA', 'VVAR3.SA', 'BRKM5.SA', 'PTBL3.SA', 'GOLL4.SA', 'SBFG3.SA', 'CPLE3.SA', 'SBFG3.SA', 'MGLU3.SA', 'AGRO3.SA']
['SLCE3.SA', 'MRVE3.SA', 'BKBR3.SA', 'PNVL3.SA', 'YDUQ3.SA', 'CRFB3.SA', 'ALUP11.SA', 'ELET3.SA', 'AGRO3.SA', 'VIVA3.SA']
['SMLS3.SA', 'MEAL3.SA', 'DIRR3.SA', 'CPLE6.SA', 'RAIL3.SA', 'LAME4.SA', 'COGN3.SA', 'ECOR3.SA', 'POSI3.SA', 'WEGE3.SA']