In [1]:
#Bibliotecas Necessárias:
import requests
import pandas as pd

In [2]:
def fazer_request (url):
    """
    Descr: 
        Faz o request ao servidor, verifica se obteve uma resposta com sucesso (código 200).
    Parâmetros: 
        url: é a url que deve ser passada para fazer o request ao servidor
    Retorno: 
        Retorna uma lista com 2 valores, o primeiro é o request_com_sucesso que será True ou False
        e o segundo será o output do arquivo que pode ser null ou conter o output.
    """
    #fazendo a requisição:
    resposta_inicial = requests.get(url)

    #filtrando a resposta da requisição para ficar apenas com o código:
    resposta = str(resposta_inicial).split('[')[1]
    resposta = resposta.split(']')[0]

    output_fazer_request = dict()
    if(resposta == '200'): #-->verificando se a requisição foi bem sucedida.
        output_fazer_request["Request_com_Sucesso"] = True
        output_fazer_request["Conteudo"] = resposta_inicial.json()
        print('Request feito com sucesso!')
        return output_fazer_request
    else:
        output_fazer_request["Request_com_Sucesso"] = False
        output_fazer_request["Conteudo"] = 'null'
        print('Ops! Algo deu errado com o request.')
        return output_fazer_request

In [3]:
#url genéricas:
url_agregados = "https://servicodados.ibge.gov.br/api/v3/agregados"
url_localidades_por_agregado = "https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/localidades/{nivel}"
url_metadados = "https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/metadados"
url_periodo_por_agregado = "https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/periodos"
url_variavel_por_agregado_periodo_e_identificador_da_variavel = "https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/periodos/{periodos}/variaveis/{variavel}"
url_por_agregado_e_identificador_da_variavel = "https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/variaveis/{variavel}"

resultado = fazer_request (url=url_agregados)

Request feito com sucesso!

In [4]:
lista_id = list()
lista_nome = list()
lista_id_agregado = list()
lista_nome_agregado = list()
for x in resultado['Conteudo']:
    #print("o id " + str(x['id']) + " tem o nome " + str(x['nome']) + " tem os agregados " + str(x['agregados']))
    #print('==================================================================================================================================')
    #print('==================================================================================================================================')
    #print('')
    #print('==================================================================================================================================')
    #print('==================================================================================================================================')
    #print('==================================================================================================================================')
    for agregado in x['agregados']:
        lista_id.append(str(x['id']))
        lista_nome.append(str(x['nome']))
        lista_id_agregado.append(str(agregado['id']))
        lista_nome_agregado.append(str(agregado['nome']))
        #print('id_agregado ' + str(agregado['id']) + ' nome_agregado ' + str(agregado['nome']))

In [5]:
df_dados_ibge = pd.DataFrame(
    list(zip(lista_id,lista_nome,lista_id_agregado,lista_nome_agregado)),
    columns=['ID','NOME','ID_AGREGADO','NOME_AGREGADO']
)

In [8]:
#print(df_dados_ibge.iloc[100].NOME_AGREGADO, df_dados_ibge.iloc[100].ID_AGREGADO)
display(df_dados_ibge.sample(15)[["ID_AGREGADO", "NOME_AGREGADO"]])

     ID_AGREGADO                                      NOME_AGREGADO
1280        3960  Número médio de horas habitualmente trabalhada...
5386        5452  Pessoas que ficaram internadas em hospitais po...
5025        5365  Pessoas de 18 anos ou mais de idade que sofrer...
4201        8116  Pessoas de 15 anos ou mais de idade, ocupadas ...
1562        2979  Pessoas de 7 anos ou mais de idade por grupos ...
2885        6973  Despesa monetária e não monetária média mensal...
208         1018  Número de estabelecimentos agropecuários com p...
1897        6394  Estimativas das emissões líquidas de gases de ...
6522        7209  Estudantes de 14 anos ou mais de idade no ensi...
1483        1381  Pessoas de 10 anos ou mais de idade, total e c...
2735        8437  Municípios com Conselho Municipal nas áreas de...
3540        2339  Número de municípios que coletam e/ou recebem ...
1322        1990  Pessoas de 10 anos ou mais de idade ocupadas n...
4582        4589  Pessoas de 18 anos ou mais de idade que refere...
4796        7825  Pessoas de 18 anos ou mais de idade que refere...

In [22]:
url_metadados = "https://servicodados.ibge.gov.br/api/v3/agregados/6691/periodos/202201|202202|202203|202204|202205|202206|202207/variaveis/63?localidades=N1[all]"
resultado2 = fazer_request(url_metadados)

Request feito com sucesso!

In [23]:
resultado2['Conteudo']

[{'id': '63',
  'variavel': 'IPCA - Variação mensal',
  'unidade': '%',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202201': '0.54',
       '202202': '1.01',
       '202203': '1.62',
       '202204': '1.06',
       '202205': '0.47',
       '202206': '0.67',
       '202207': '-0.68'}}]}]}]