# Obtendo valores do Yahoo finance:

## Bibliotecas necessárias:

In [1]:
from datetime import date
import pandas_datareader as web
from pandas_datareader import wb

## Intervalo dos dados a serem procurados:

#### formato dia/mes/ano

In [2]:
data_inicial = "15/05/2018"
data_final = "15/05/2020" 

#também podemos usar dt.now() para obter a data no dia de hoje:
hoje = date.today()
print(hoje)

2021-04-29

## Ticker da ação:

#### Para saber o ticker da ação podemos ir no site https://finance.yahoo.com/ . O código da Weg, por exemplo,  é WEGE3.SA.

In [3]:
ticker = "WEGE3.SA"

## Chamando a função que irá buscar os dados do yahoo finance:

In [4]:
acaoWeg = web.DataReader(ticker, "yahoo", data_inicial, data_final)
print(acaoWeg)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-05-15   9.400000   8.850000   8.850000   9.300000   7290400.0   8.932190
2018-05-16   9.590000   9.180000   9.205000   9.540000   3832400.0   9.162696
2018-05-17   9.530000   9.220000   9.525000   9.345000   6030800.0   8.975411
2018-05-18   9.340000   9.045000   9.210000   9.150000   7126000.0   8.788122
2018-05-21   9.360000   8.950000   9.205000   8.965000   6023000.0   8.610440
...               ...        ...        ...        ...         ...        ...
2020-05-11  19.620001  19.075001  19.155001  19.415001   9810000.0  19.247561
2020-05-12  19.690001  18.575001  19.495001  18.750000   8326800.0  18.588291
2020-05-13  19.280001  18.719999  18.955000  19.000000  10642200.0  18.836136
2020-05-14  19.030001  18.160000  18.900000  18.674999  12531600.0  18.513939
2020-05-15  18.705000  18.000000  18.540001  18.205000  11708800.0  18.047993

[493 rows x 6 columns]

### Se não especificarmos o tempo ele vai supor o maior tempo possível. Nesse exemplo, ao não falar a data final ele vai dar os dados até o último dia disponível:

In [5]:
acaoWeg = web.DataReader(ticker, "yahoo", data_inicial)
print(acaoWeg)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-05-15   9.400000   8.850000   8.850000   9.300000   7290400.0   8.932190
2018-05-16   9.590000   9.180000   9.205000   9.540000   3832400.0   9.162696
2018-05-17   9.530000   9.220000   9.525000   9.345000   6030800.0   8.975411
2018-05-18   9.340000   9.045000   9.210000   9.150000   7126000.0   8.788122
2018-05-21   9.360000   8.950000   9.205000   8.965000   6023000.0   8.610440
...               ...        ...        ...        ...         ...        ...
2021-04-23  37.700001  36.660000  36.775002  37.605000   8342800.0  37.605000
2021-04-26  37.980000  37.020000  37.695000  37.314999   6897800.0  37.314999
2021-04-27  37.435001  36.669998  37.244999  37.009998   6958400.0  37.009998
2021-04-28  38.900002  36.240002  38.099998  36.509998  14494500.0  36.509998
2021-04-29  36.799999  35.230000  36.560001  35.490002  12078300.0  35.490002

[727 rows x 6 columns]

### Nesse exemplo, ao não falar a data inicial ele vai dar os dados desde o IPO da ação:

In [6]:
acaoWeg = web.DataReader(ticker, "yahoo", "", data_final)
print(acaoWeg)

                 High        Low       Open      Close      Volume  Adj Close
Date
2016-05-02   5.915384   5.776923   5.815384   5.873076   4252040.0   5.415514
2016-05-03   5.907692   5.776923   5.811538   5.850000   4073940.0   5.394237
2016-05-04   5.880769   5.707692   5.861538   5.780769   3450460.0   5.330400
2016-05-05   5.865384   5.703846   5.842307   5.811538   3981120.0   5.358771
2016-05-06   5.838461   5.723076   5.823076   5.761538   3226080.0   5.312667
...               ...        ...        ...        ...         ...        ...
2020-05-11  19.620001  19.075001  19.155001  19.415001   9810000.0  19.247561
2020-05-12  19.690001  18.575001  19.495001  18.750000   8326800.0  18.588291
2020-05-13  19.280001  18.719999  18.955000  19.000000  10642200.0  18.836136
2020-05-14  19.030001  18.160000  18.900000  18.674999  12531600.0  18.513939
2020-05-15  18.705000  18.000000  18.540001  18.205000  11708800.0  18.047993

[1006 rows x 6 columns]

### Ao não especificar nenhuma data, ele vai buscar todos os dias em que se tem dados sobre a ação:

In [7]:
acaoWeg = web.DataReader(ticker, "yahoo")
print(acaoWeg)

                 High        Low       Open      Close      Volume  Adj Close
Date
2016-05-02   5.915384   5.776923   5.815384   5.873076   4252040.0   5.415514
2016-05-03   5.907692   5.776923   5.811538   5.850000   4073940.0   5.394237
2016-05-04   5.880769   5.707692   5.861538   5.780769   3450460.0   5.330400
2016-05-05   5.865384   5.703846   5.842307   5.811538   3981120.0   5.358771
2016-05-06   5.838461   5.723076   5.823076   5.761538   3226080.0   5.312667
...               ...        ...        ...        ...         ...        ...
2021-04-23  37.700001  36.660000  36.775002  37.605000   8342800.0  37.605000
2021-04-26  37.980000  37.020000  37.695000  37.314999   6897800.0  37.314999
2021-04-27  37.435001  36.669998  37.244999  37.009998   6958400.0  37.009998
2021-04-28  38.900002  36.240002  38.099998  36.509998  14494500.0  36.509998
2021-04-29  36.799999  35.230000  36.560001  35.490002  12078300.0  35.490002

[1240 rows x 6 columns]

### Podemos buscar dados específicos como todas as datas de fechamento ou um único valor específico.

In [8]:
print(acaoWeg["High"])

Date
2016-05-02     5.915384
2016-05-03     5.907692
2016-05-04     5.880769
2016-05-05     5.865384
2016-05-06     5.838461
                ...
2021-04-23    37.700001
2021-04-26    37.980000
2021-04-27    37.435001
2021-04-28    38.900002
2021-04-29    36.799999
Name: High, Length: 1240, dtype: float64

### Podemos pegar o valor anterior e o atribuir a uma variável e manipular essa variável como se fosse um vetor qualquer, querendo saber sua segunda posição por exemplo:

In [9]:
altaWeg = acaoWeg["High"]
print (altaWeg[2])

5.880768775939941

# Obtendo indicadores do Banco Mundial:

### 1- Para obter os indicadores macroeconômicos do banco mundial precisamos de um ticker. 
### 2- Conseguimos obter o ticker pesquisando no site do banco mundial um indicador como o pib do Brasil por exemplo: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?locations=BR&view=chart 
### 3- O ticker vem depois de indicator/ na url, nesse caso o indicador do pib de um país será NY.GDP.MKTP.CD
### 4- O país escolhido aparece depois de locations= , no caso o nosso símbolo para o Brasil será BR
### 5- Depois disso precisamos chamar a função, descrever os indicadores, informar o país ou países, o ano inicial e o ano final de busca dos dados:

In [10]:
pib = web.wb.download(indicator='NY.GDP.MKTP.CD', country=['BR'], start='2010', end='2020')
pib

              NY.GDP.MKTP.CD
country year
Brazil  2020             NaN
        2019    1.839758e+12
        2018    1.885483e+12
        2017    2.062831e+12
        2016    1.795700e+12
        2015    1.802214e+12
        2014    2.455994e+12
        2013    2.472807e+12
        2012    2.465189e+12
        2011    2.616201e+12
        2010    2.208872e+12

### No exemplo abaixo vamos buscar a inflação dos BRICS (Brasil, Rússia, Índia, China e África do Sul):
### Ao buscar isso no site temos a seguinte url: https://data.worldbank.org/indicator/FP.CPI.TOTL.ZG?locations=BR-IN-RU-CN-ZA&view=chart
### indicador = 'FP.CPI.TOTL.ZG'
### ticker dos países = BR-IN-RU-CN-ZA ------> ticker = ['BR', 'IN', 'RU', 'CN', 'ZA']

In [11]:
inflacao = web.wb.download(indicator='FP.CPI.TOTL.ZG', country=['BR', 'IN', 'RU', 'CN', 'ZA'], start='2010', end='2019')
inflacao

                         FP.CPI.TOTL.ZG
country            year
Brazil             2019        3.732976
                   2018        3.664850
                   2017        3.446373
                   2016        8.739144
                   2015        9.029901
                   2014        6.329040
                   2013        6.204311
                   2012        5.403499
                   2011        6.636450
                   2010        5.038727
China              2019        2.899236
                   2018        2.074789
                   2017        1.593137
                   2016        2.000000
                   2015        1.437025
                   2014        1.921643
                   2013        2.621049
                   2012        2.619526
                   2011        5.553897
                   2010        3.175328
India              2019        7.659695
                   2018        4.860699
                   2017        2.490887
                   2016        4.941026
                   2015        5.872427
                   2014        6.353195
                   2013       10.907643
                   2012        9.312446
                   2011        8.858361
                   2010       11.989390
Russian Federation 2019        4.470367
                   2018        2.878297
                   2017        3.683329
                   2016        7.042448
                   2015       15.534405
                   2014        7.823412
                   2013        6.753710
                   2012        5.074743
                   2011        8.440465
                   2010        6.849392
South Africa       2019        4.124351
                   2018        4.504577
                   2017        5.181082
                   2016        6.594604
                   2015        4.509208
                   2014        6.136020
                   2013        5.776404
                   2012        5.723944
                   2011        5.017158
                   2010        4.063539

### Pegando o dado de vários países:

In [12]:
#indicadores do pib, inflação e participação da industria no pib
indicadores=['NY.GDP.MKTP.CD', 'FP.CPI.TOTL.ZG', 'NV.IND.TOTL.ZS']
#países observados: Brasil, Estados Unidos, India e Rússia
paises=['BR', 'US', 'IN', 'RU']

In [13]:
pib = web.wb.download(indicator=indicadores, country=paises, start='2010', end='2010')
pib.columns=['PIB', 'INFLAÇÃO', 'INDUSTRIA/PIB']
pib

                                  PIB   INFLAÇÃO  INDUSTRIA/PIB
country            year
Brazil             2010  2.208872e+12   5.038727      23.267952
India              2010  1.675615e+12  11.989390      30.725078
Russian Federation 2010  1.524917e+12   6.849392      29.999588
United States      2010  1.499205e+13   1.640043      19.355292

### Para ver mais indicadores vá em: https://data.worldbank.org/indicator
### Para ver mais países vá em: https://data.worldbank.org/country
### comando para ver a lista de todos os países:  pandas_datareader.wb.country_codes